@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #2780f2;
  --light-primary-color: #93b0ff;
  --dark-primary-color: #081527;
  --hover-primary-color: #1968ce;
  --secondary-color: rgb(219, 219, 219);
  --hover-secondary-color: rgb(165, 165, 165);
  --hover-dark-gray: rgb(61, 61, 61);
  --link-text-color: #5b5b5b;
  --white: #fff;
  --background--dark: rgb(27, 27, 27);
  --color--dark: #282c3f;
  --background--light: rgb(255, 245, 245);
  --disabled: #c5c5c5;
  --fld--border: #d4d5d9;
  --warning: #ff1158;
  --valid: #a4ff11;
  --rating-active: #ffa600;
  --rating-unactive: #8383837e;
  --iframe: #2f1e2e;
  --example-box-color: rgb(255, 245, 245);
  --example-box-color-hover: rgb(27, 27, 27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-size: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgb(236, 57, 102) #000;
}

h1 {
  font-size: 4.8em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.2em;
}

h4 {
  font-size: 2.8em;
}

h5 {
  font-size: 2.4em;
}

h6 {
  font-size: 2em;
}

p {
  font-size: 1.6em;
}

.heading-title {
  font-size: 2.2rem;
}

.examples-heading {
  padding-top: 3rem;
}

.examples {
  margin-top: 2rem;
  padding: 0.5rem;
}

.example-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  margin: 2rem 0;
  align-items: baseline;
  border-radius: 1.2rem;
  width: 100%;
  flex-direction: column;
  background-color: var(--background--light);
  transition: all ease-in-out 300ms;
}

.example-container:hover {
  background-color: var(--background--dark);
}

/* span class blue */
.blue-text {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: var(--primary-color);
}

/* span class blue */

/* para exampples starts */
.paragraph {
  text-align: left;
}

.para-lg {
  font-size: 2.4rem;
}

.para-md {
  font-size: 1.4rem;
}

.para-rg {
  font-size: 1.6rem;
}

.para-sm {
  font-size: 1.2rem;
}

/* para exampples ends */

/* aligned text starts */
.paragraph-align {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* aligned text ends */

/* extras */
.vertical-middle {
  justify-content: center;
  align-items: center;
}

.vertical-middle-self {
  align-self: center;
  justify-self: center;
}

.text-strike-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-bold-weight {
  font-weight: 700;
}

.text-light-weight {
  font-weight: 300;
}

.text-regular-weight {
  font-weight: 500;
}

/* color text */

.primary-text-color {
  color: var(--primary-color);
}

.secondary-text-color {
  color: var(--secondary-text-color);
}
